#!/usr/bin/python
# -*- encoding: utf-8 -*-

nick_mappings = {
    # for every user in the server you may an entry like the following one:
    # 'u219285322674995201': 'fcr',
}
port = 6667

# Uncomment and set the correct value to a valid token if you want to run this gw as a bot:
#token = 'ThisIsARandomTokenSoDont.UseThe.OneSpecifiedHereKudasaimasu'
# Otherwise uncomment and set the following lines to the ones you use for your user account.
#email = 'your@email.com'
#password = 'w34Ks3cr3t'

# vi: et sw=4
